
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* background:rgb(44, 167, 238); */
}

body, html {
    width: 100%;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    height: 50vw;
    padding: 0px 0px 0px
}

.aboutme {
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(background1.jpg);
    background-attachment: fixed;
    background-size:1000px;
    height: 100%;
    width:100;

    
}

/* LINKS*/
nav {
    width: 50%;
    display: flex;
    justify-content: space-between; 
    padding-left: 40%;
    font-family: 'Felipa', cursive;
    background:rgb(19, 19, 19);
    font-family: 'Poppins', sans-serif;
    margin:none;
}
.links{
    background:rgb(19, 19, 19);
    display: flex;
    justify-content: space-around; 
}
a:visited {
    color: whitesmoke;
  }
  a:link {
    color: red;
  }
/* LINKS */

/* .skills {
    background:rgb(44, 167, 238);;
    font-family: 'Poppins', sans-serif;
    /* margin-right: 1000px; */
    height:1000px;
    font-size: 20px;
    text-align: center;

}




.text{
    background:rgb(44, 167, 238);
}

#picture{
    height:500px%;
    width: 250px;
    align-content: center;
} */