
*{
    margin:0;
    padding:0;
    background-image: url(https://images.unsplash.com/photo-1516527547813-14b9fc6e7f28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    background-position: center;
    background-size:contain;
    text-decoration-line: none;
    }

    .header{
        margin: none;
        padding-bottom: 17px;
        background:url(header.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height:150px;
    
    }
    
    .link{
        font-size: 50px;
        color:white;
        text-decoration-line: none;
        background:rgba(119, 118, 118, 0.719);
        border: 3px solid rgba(212, 0, 255, 0.582);   
        font-family: 'DM Sans', sans-serif;
    }



.pics{
    width: 300.5px;
    height:300.5px;
    box-shadow: 0px 5px 10px ;
    margin-top: 5px;
    opacity:0.9;
    display:wrap;
    flex-wrap: wrap;
}
.pics:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity:1;
    flex-wrap: wrap;
}